* {
 padding: 0px; 
 margin: 0px; 
}

html{
 -webkit-text-size-adjust: none;
}

body {
 text-align: center;
 background-color: #e8f8f8;
}

#site-box {
 width: 830px;
 margin-left: auto;
 margin-right: auto;
 background-color: #f0e68c;
}
#header {
 height: 96px;
 text-align: left;
 background-color: #bdb76b;
}
#menu {
 float: left;
 width: 170px;
 text-align: center;
 background-color: #f0e68c;
}
#contents {
 float: right;
 width: 660px;
 min-height: 830px;
 height: auto !important;
 height: 830px;
 background-color: #fdf5d6;
}
#footer{
 clear: both;
 width: 830px;
 height: 102px;
 text-align: center;
 background-color: #bdb76b;
}

h1 {
 font-weight: normal;
 font-size: 14px;
 padding: 15px 20px;
 margin: 0px;
}

h2 {
 font-size: 18px;
 color: #bf7340;
 padding: 10px;
 margin: 0px;
}

h3 {
 font-size: 15px;
 color: #c56f34;
 padding: 10px;
 margin: 0px;
}

h4 {
 font-weight: bold;
 font-size: 14px;
 text-align: center;
 padding: 0px 0px;
 margin: 0px;
}
h5 {
 font-weight: bold;
 font-size: 14px;
 color: #a76b3f;
 background-color: #fdf5d6;
 padding: 15px 0px;
 margin: 10px 0px 0px 20px;
}

h6 {
 font-weight: normal;
 font-size: 12px;
 line-height: 18px;
 color: #556b2f;
 padding: 10px;
 margin: 0px;
}

address {
 font-style: normal;
 font-size: 15px;
 line-height: 22px;
 color: #5b4808;
 padding: 5px;
 margin: 0px;
}

p {
 font-size: 15px;
 line-height: 22px;
 color: #5b4808;
 padding: 5px;
 margin: 0px;
}

a.menu {
 display: block;
 width: 120px;
 text-align: center;
 background-color: #f0e68c;
 padding: 15px;
 border-style: solid;
 border-width: 10px 10px 0px;
 border-color: #f0e68c;
 margin: 0px auto;
}

a.contents {
 display: block;
 width: 120px;
 text-align: center;
 font-weight: bold;
 background-color: #fdf5d6;
 padding: 10px;
 border-style: solid;
 border-width: 0px 10px;
 border-color: #fdf5d6;
 margin: 5px auto;
}

a.jump {
 font-weight: bold;
 text-decoration: none;
 background-color: #fdf5d6;
 padding: 2px 4px;
 margin: 0px;
}

a.footer {
 display: block;
 width: 120px;
 text-align: center;
 font-weight: bold;
 background-color: #bdb76b;
 padding: 15px;
 border-style: solid;
 border-width: 10px 10px 0px;
 border-color: #bdb76b;
 margin: 0px auto;
}

a:link {
 color: #a76b3f;
}
a:visited {
 color: #a76b3f;
}
a:hover {
 color: #a76b3f;
 background-color: #deb887;
}

a:active {
 color: #a76b3f;
 background-color: #fdf5d6;
}

ul {
 list-style-type:none;
 font-weight: bold;
 font-size: 14px;
 line-height: 21px;
 color: #8b0000;
 padding: 0px;
 margin: 10px;
}
